
{% extends 'base.html' %}

{% load static %}

{% block meta %}
{% endblock meta %}

{% block title %}Story 8{% endblock %}

{% block main_body %}
{% include "navbar.html" %}
<main class="container" style="min-height: 90vh;">
    <h1 class="pt-5" style="text-align: center;">Cari Buku</h1>
    <p style="text-align: center;">Cari buku penunjang mata kuliah yang kalian butuhkan!</p>
    <div style="margin:4vw;">
        <div class="form-inline d-flex justify-content-center md-form form-sm mt-2">
            <input  type="search" name="queryBook" id="queryBook" class="form-control form-control-sm ml-3 w-75" placeholder="Tulis judul buku ..."
            style="padding:1.5vw">
        </div>
    </div>

    <div class="table-responsive mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cover</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    
</main>
{% endblock%}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'story8.js' %}"></script>
{% endblock script %}