:root {
    --black: #343A40;
    --whitty: #FFFBFA;
    --salmony: #EA7362;
    --reddy: #B74242;
}


.ui-accordion-header {
    background-color: var(--black);
    color: var(--whitty);
    padding: 5px 10px;
    cursor: pointer;
    margin: 0;
    font-size: 2em !important;
}

.ui-accordion-content {
    border: 1px solid var(--black);
    color: black;
}

i {
    font-size: 1.25em;
    border: .5px solid var(--whitty);
    float: right;
    padding: 0 5px;
    margin-left: 5px;
}

li {
    font-size: 1.25em;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}