
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    
{% block meta %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'story7style.css' %}"/>
{% endblock meta %}
{% block title %} Story 7 {% endblock %}


{% block main_body %}
{% include "navbar.html" %}
<main class="container"style="min-height: 90vh;">
    <h1 class="sub-title pt-3" style="text-align: center;">Story 7</h1>
    <div id="accordion" style="padding-top: 50px;">
        <h3>Aktivitas Saat Ini
            <i class="arrow up"><span></span></i>
            <br>
            <i class="arrow down"></i>
        </h3>
        <div>
            <ul>
                <li>Membuka Laptop</li>
                <li>Memanaskan Bangku</li>
                <li>Menyalakan Cahaya</li>
                <li>Redupkan Layar</li>
                <li>Let's Code!</li>
            </ul>
        </div>
        <h3>Pengalaman Organisasi
            <i class="arrow up"><span></span></i>
            <br>
            <i class="arrow down"></i>
        </h3>
        <div>
            <div>
                <h4>Anggota Sistem Fasilkom UI 2019/2020</h4>
                <ul>
                    <li>Entrepreneur Class</li>
                </ul>
            </div>
        </div>
        <h3>Pengalaman Kepanitiaan
            <i class="arrow up"><span></span></i>
            <br>
            <i class="arrow down"></i>
        </h3>
        <div>
            <div>
                <h4>Compfest 12</h4>
                <ul>
                    <li>VPIC of Visual Design</li>
                </ul>
            </div>
            <div>
                <h4>Open House Fasilkom UI 2020</h4>
                <ul>
                    <li>Staf of Visual Design</li>
                </ul>
            </div>
            <div>
                <h4>Wisuda Genap Fasilkom UI 2020</h4>
                <ul>
                    <li>VPIC of Visual Design</li>
                </ul>
            </div>
            <div>
                <h4>KMK Fasilkom UI 2020</h4>
                <ul>
                    <li>PIC of Visual Design</li>
                </ul>
            </div>
        </div>
        <h3>Prestasi
            <i class="arrow up"><span></span></i>
            <br>
            <i class="arrow down"></i>
        </h3>
        <div>
            <h4>Menyelesaikan Story 7 :></h4>
        </div>
    </div>
</main>


<footer style="margin-top: 10%;" id="sticky-footer" class="py-4 text-white">
    <div class="container text-center">
        <small>Copyright &copy; Rajendra Daniel Saksono</small>
    </div>
</footer>
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="{% static 'story7js.js' %}"></script>
{% endblock script %}


</body>
</html>