{% extends "base.html" %}
{% block title %} detail jadwal {% endblock %}

{% block main_body %}
{% include "navbar.html" %}  
<div class="container-fluid pt-3 m-auto text-center mx-auto bg-kontur2" style="min-height: 89vh;">
    <div class="row align-items-center justify-content-center" style="margin-top:5%">
        <div class="col-md-4">
            <div class="section-title m-auto text-center p-5">
                <h1>{{ jadwal.matkul }}</h1>
            </div>
        </div>
        <div class="col-5" style="max-width: 100%;">
            <table class="table table-bordered mx-5 bg-light" style="width:30vw;">
                <tbody>
                <tr>
                    <td><b>Dosen</b></td>
                    <td>{{ jadwal.dosen }}</td>
                </tr>
            
                <tr>
                    <td><b>SKS</b></td>
                    <td>{{ jadwal.sks }}</td>
                </tr>
            
                <tr>
                    <td><b>Semester</b></td>
                    <td>{{ jadwal.semester }}</td>
                </tr>
            
                <tr>
                    <td><b>Kelas</b></td>
                    <td>{{ jadwal.kelas }}</td>
                </tr>
            
                <tr>
                    <td><b>Deskripsi</b></td>
                    <td>{{ jadwal.deskripsi }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <a href="{% url 'jadwal:jadwal' %}" >
            <button class="btn click bg-dark text-white">
                Back
            </button>
            </a>
        </div>
        </div>
    </div>
</div>

{% endblock %}
