{% extends "base.html" %}

{% block title %} list_jadwal {% endblock %}
{% block main_body %}
{% include "navbar.html" %}  
<div class="container-fluid col-12">
    <section class="container-fluid d-flex flex-wrap align-content-center mb-5">
        <div class="section-title mx-auto text-center p-5">
            <h1>Jadwal Sibuk</h1>
        </div>
        <table class="table table-bordered table-hover mb-5 m-auto " style="width:90vw">
            <thead class="thead-light text-center">
            <tr>
                <th>Mata Kuliah</th>
                <th>Dosen</th>
                <th>SKS</th>
                <th>Deskripsi</th>
                <th>Hapus</th>
            </tr>
            </thead>
            <tbody>
            
            <!-- Menampilkan list matakuliah yang ada -->
            
            {% for x in list_jadwal %}
                <tr class="text-center" style="font-family: 'Montserrat', sans-serif;"> 
                    <td style="vertical-align: middle;">
                        <a href="detail/{{ x.id }}">
                            <button class="btn bg-dark mx-auto mt-2 text-white" style="font-size: 0.8rem;">
                                {{ x.matkul }}
                            </button>
                        </a>
                    </td>
                    <td style="vertical-align: middle;">{{ x.dosen }}</td>
                    <td style="vertical-align: middle;">{{ x.sks }}</td>
                    <td style="vertical-align: middle;">{{ x.deskripsi }}</td>
                    <td style="vertical-align: middle;">
                        <form method="POST" action="{% url 'jadwal:jadwal' %}">
                            {% csrf_token %}
                            <input name="id" value="{{x.id}}" type="hidden" />
                            <button type="submit" value="Submit" class="btn bg-dark mx-auto mt-2 text-white" style="font-size: 0.8rem;">
                                Hapus
                            </button>
                        </form>
                    </td>
                </tr>
            </a>
            {% endfor %}
        
        
            </tbody>
        </table>
        <a href="{% url 'jadwal:tambah_jadwal' %}" class="m-auto pt-3">
        <!-- button ngelink ke page jadwal -->
            <button class="btn bg-dark click text-white">
                Tambah Jadwal Baru
            </button>
        </a>
        </section>
        
</div>

{% endblock %}
