{% extends "base.html" %} 
{% block title %} Jadwal Baru {% endblock %}
{% block main_body %}
{% include "navbar.html" %}  
<section class="container-fluid d-flex flex-wrap align-content-center ">

<!-- Kalau pengguna sudah pencet tambah jadwal -->
{% if submit %}
<div class="success p-5 col-12 text-center">
    <h1>
        Berhasil
    </h1>
    <h1>
        Menambahkan Jadwal
    </h1>
</div>
<div class="col-12 text-center">
    <div class="row d-flex" >
    <div class="col-6">
        <a href="{% url 'jadwal:tambah_jadwal' %}" class="text-center">
            <button class="btn bg-dark d-flex m-auto click text-white" style="padding: 10%; font-family:'Montserrat', sans-serif;">
                Tambah
            </button>
        </a>
    </div>
    <div class="col-6">
        <a href="{% url 'jadwal:jadwal' %}">
            <button class="btn bg-dark d-flex m-auto click text-white"  style="padding: 10%; font-family:'Montserrat', sans-serif;">
                Kembali
            </button>
        </a>
    </div>
</div>
</div>


<!-- Saat pengguna mengisi form tambah jadwal-->
{% else %}
<section class="section-title mx-auto text-center p-5">
    <h1>Tambah Jadwal</h1>
</section>

<form action="" method="post" novalidate>
    {% csrf_token %}
    <table class="table mx-5 " style="width:90vw">
    {{ form.as_table }}
    <tr>
        <td>&nbsp;</td>
        <td>
            <input type="submit" value="Submit" class="btn bg-success click text-white" />
        </td>

    </tr>
    </table>
</form>

</section>
{% endif %} {% endblock %}
