{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %} Coming Soon {% endblock %}

{% block main_body %}
{% include "navbar.html" %}
<div class="container-fluid" style="max-height: 100vh; padding-top: 15%">
    <p class="comingsoon">Tunggu Deadline Pacil</p>
</div>
{% endblock %}