{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block title %} gallery {% endblock %}

{% block main_body %}
{% include "navbar.html" %}
<div class="bg-gallery"> 
    <div class="container-fluid mt-3 bg-kontur2">

        <!-- embed video youtube -->
        <div class="col-12 text-center">
            <h1 id="karya">Gallery</h1>
            <div class="wrapper">
                <div class="video-wrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/HYX66uNwBpg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <!-- gallery -->
        <section style="margin-top:5%" class="no-touch">
            <div class="wrap">
                <div class="box">
                    <div class="boxInner">
                        <img src="{% static '1.jpg' %}" />
                        <div class="titleBox">Pemandangan</div>
                    </div>
                </div>

                <div class="box">
                    <div class="boxInner">
                        <img src="{% static '2.jpg' %}"/>
                        <div class="titleBox">Bakau</div>
                    </div>
                </div>

                <div class="box">
                    <div class="boxInner">
                        <img src="{% static '3.jpg' %}"/>
                        <div class="titleBox">Teluk Ijo</div>
                    </div>
                </div>

                <div class="box">
                    <div class="boxInner">
                        <img src="{% static '4.jpg' %}"/>
                        <div class="titleBox">Pantai</div>
                    </div>
                </div>

                <div class="box">
                    <div class="boxInner">
                        <img src="{% static '5.jpg' %}"/>
                        <div class="titleBox">Keluarga</div>
                    </div>
                </div>

                <div class="box">
                    <div class="boxInner">
                        <img src="{% static '6.jpg' %}"/>
                        <div class="titleBox">Osis</div>
                    </div>
                </div>

                <div class="box">
                    <div class="boxInner">
                        <img src="{% static '7.jpg' %}"/>
                        <div class="titleBox">Teman</div>
                    </div>
                </div>

                <div class="box">
                    <div class="boxInner">
                        <img src="{% static '8.jpg' %}"/>
                        <div class="titleBox">Jembatan</div>
                    </div>
                </div>

                <div class="box">
                    <div class="boxInner">
                        <img src="{% static '9.jpg' %}"/>
                        <div class="titleBox">Impian</div>
                    </div>
                </div>

                <div class="box">
                    <div class="boxInner">
                        <img src="{% static '10.jpg' %}"/>
                        <div class="titleBox">Pulau</div>
                    </div>
                </div>
                
                <div class="box">
                    <div class="boxInner">
                        <img src="{% static '11.jpg' %}"/>
                        <div class="titleBox">Saudara</div>
                    </div>
                </div>

                <div class="box">
                    <div class="boxInner">
                        <img src="{% static '1.jpg' %}" />
                        <div class="titleBox">Pemandangan</div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
{% endblock %}

</html>