{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %} Rajendra {% endblock %}

{% block main_body %}
{% include "navbar.html" %}

<!-- welcome page  -->
<div class="container-fluid" style="min-height: 90vh;">
    <div class="row bg-kontur">
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <div class="col-md-6 ">
            <div class="login d-flex align-items-center py-5 ">

                <div class="container">
                    <div class="mx-auto text-left">
                        <h1>Rajendra</h1>
                        <p style="text-align: justify; padding-right:80px">
                            Halo kalian, perkenalkan nama saya Rajendra. Kalian berhasil menemukannya! 
                            Tapi tidak seru kalau kalian belum melihat website ini secara keseluruhannya.
                            Gunakan segala fitur yang ada untuk mengeksplore website pribadi saya ini. Enjoy!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- mini profile page  -->
<div class="container-fluid pt-5" style="min-height: 100vh; background-color: #8F8F8F;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 id="sekilas">Sekilas</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- cerita singkat -->
            <div class="col-10">
                <p style="text-align: justify; color:white">
                    Mahasiswa Fasilkom yang tertarik pada dunia bisnis berbasis teknologi guna meningkatkan sumber daya manusia.
                    Berbagai ide bisnis telah saya buat bersama dengan teman-teman saya, dan telah kami turunkan di berbagai kompetisi.
                    Selain bisnis saya juga saat ini tengah mendalami skill untuk mendesain. Saya telah mengikuti beberapa kepanitiaan
                    dan memegang tanggung jawab pada bidang desain. Setiap hari saya selalu mencari referensi desain untuk dapat terus
                    menciptkan hasil karya desain yang tidak monoton dan membosankan. Menurut saya desain tidak memiliki batas, sama
                    seperti manusia yang bebas berekspresi sesuai dengan emosi yang saat itu dirasakan. 
                </p>
                <p style="text-align: justify; color:white">
                    Mahasiswa Fasilkom yang tertarik pada dunia bisnis berbasis teknologi guna meningkatkan sumber daya manusia.
                    Berbagai ide bisnis telah saya buat bersama dengan teman-teman saya, dan telah kami turunkan di berbagai kompetisi.
                    Selain bisnis saya juga saat ini tengah mendalami skill untuk mendesain.
                </p>
                
                <!-- media sosial -->
                <div style="margin-bottom: 3%; margin-top: 2% ">
                    <a href="https://www.instagram.com/rajendra.rama/">
                        <img class="medsos" src="{% static 'ig.png' %}">
                    </a>
                    <a href="https://www.facebook.com/rajendradaniel.saksono">
                        <img class="medsos" src="{% static 'fb.png' %}">
                    </a>
                    <a href="https://id.pinterest.com/rajendradanielsaksono/_created/">
                        <img class="medsos" src="{% static 'pinterest.png' %}">
                    </a>
                </div>
            </div>

            <!-- button -->
            <div class="col-2 center">

                <!-- CV button -->
                <a href="https://drive.google.com/file/d/1vvg3gGaw2HRRm9_BiWrdX94rQN7H_yhH/view?usp=sharing">
                    <button id="cv" type="button" class="btn">
                        <p style="margin: 5px;">
                            CV
                        </p>
                    </button>
                    <p id="clickhere">
                        Click Here
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Portofolio -->
<div class="container-fluid pt-5" style="min-height: 100vh;">
    <div class="container">
        <div  class="row">
            <div class="col-8 text-left">
                <h1 id="karya">Karya</h1>
                    <p id="defkarya">
                        Berikut merupakan hasil karya desain yang telah saya buat sejak masuk kuliah. Dengan kebiasaan saya untuk terus mencari ide desain setiap harinya, saya mampu menciptakan berbagai jenis karya. Tertarik untuk bekerjasama?
                    </p>
            </div>
        </div>
    </div>

        <div class="container">
            <div  class="row">
                <div class="col-md-6 text-center">
                    <img class="hasilkarya" src="{% static 'Kaos.png' %}">
                    <svg width="300" height="50">
                        <rect x="0" y="0" rx="20px" ry="20px" width="300" height="50" fill="#8F8F8F"/>
                        <text id="namaitem" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">Kaos</text>    
                    </svg>
                </div>
                <div class="col-md-6 text-center">
                    <img class="hasilkarya" src="{% static 'Vector.png' %}">
                    <svg width="300" height="50">
                        <rect x="0" y="0" rx="20px" ry="20px" width="300" height="50" fill="#8F8F8F"/>
                        <text id="namaitem" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">Vector</text>    
                    </svg>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center" style="padding-top: 10%;">
                    <img class="hasilkarya" src="{% static 'Masker.png' %}">
                    <svg width="300" height="50">
                        <rect x="0" y="0" rx="20px" ry="20px" width="300" height="50" fill="#8F8F8F"/>
                        <text id="namaitem" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">Masker</text>    
                    </svg>
                </div>
                <div class="col-md-6 text-center" style="padding-top: 10%;">
                    <img class="hasilkarya" src="{% static 'Sticker.png' %}">
                    <svg width="300" height="50">
                        <rect x="0" y="0" rx="20px" ry="20px" width="300" height="50" fill="#8F8F8F"/>
                        <text id="namaitem" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">Sticker</text>    
                    </svg>
                </div>
            </div>
        </div>
        <div class="container" >
            <div class="row" >
                <div class="col-md-6 text-center" style="padding-top: 10%;">
                    <img class="hasilkarya" src="{% static 'Logo.png' %}">
                    <svg width="300" height="50">
                        <rect x="0" y="0" rx="20px" ry="20px" width="300" height="50" fill="#8F8F8F"/>
                        <text id="namaitem" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">Masker</text>    
                    </svg>
                </div>
                <div class="col-md-6 text-center" style="padding-top: 10%;">
                    <img class="hasilkarya" src="{% static 'Vexcel.png' %}">
                    <svg width="300" height="50">
                        <rect x="0" y="0" rx="20px" ry="20px" width="300" height="50" fill="#8F8F8F"/>
                        <text id="namaitem" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">Sticker</text>    
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>

<footer style="margin-top: 10%;" id="sticky-footer" class="py-4 text-white">
    <div class="container text-center">
        <small>Copyright &copy; Rajendra Daniel Saksono</small>
    </div>
</footer>
{% endblock %}
</body>
</html>