{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block title %} Project {% endblock %}

{% block main_body %}
{% include "navbar.html" %}  
<div class="bg-gallery bg-kontur2"> 
    <div class="container-fluid" style="min-height: 88vh; padding:15px">

        <!-- kebutuhan card -->
        <div class="col-12 d-flex align-items-center justify-content-center text-center">  
            <a href="{% url 'homepage:story1' %}" style="color: black;">
                <div class="card mb-3 animasi-card" style="max-width: 350px;margin:40px">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                        <img src="{% static 'card.jpg' %}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-title">Story 1</p>
                        </div>
                        </div>
                    </div>
                </div>
            </a>  
            <a href="{% url 'jadwal:jadwal' %}" style="color: black;">
                <div class="card mb-3 animasi-card" style="max-width: 350px; margin:40px">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                        <img src="{% static 'card.jpg' %}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-title">Jadwal Kuliah</p>
                        </div>
                        </div>
                    </div>
                </div>
            </a>  
        </div>
    <div class="col-12 d-flex align-items-center justify-content-center text-center">  
            <a href="{% url 'story7:story7' %}" style="color: black;">
                <div class="card mb-3 animasi-card" style="max-width: 350px;margin:40px">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                        <img src="{% static 'card.jpg' %}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-title">Story 7</p>
                        </div>
                        </div>
                    </div>
                </div>
            </a>  
            <a href="{% url 'story8:story8' %}" style="color: black;">
                <div class="card mb-3 animasi-card" style="max-width: 350px; margin:40px">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                        <img src="{% static 'card.jpg' %}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-title">Story 8</p>
                        </div>
                        </div>
                    </div>
                </div>
            </a>  
        </div>
    </div>
</div>
{% endblock %}