{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-4.5.2-dist\css\bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'stylestory1.css' %}">
    <script src="{% static 'bootstrap-4.5.2-dist\js\bootstrap.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>Story 1</title>

</head>
<body style="background-color: black;">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="#">Portofolio</a>
                <a class="nav-link" href="#">Contact</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="pt-3">
                    <h2>
                        <span>Halo</span> namaku...
                    </h2>
                    <h2 id="judul">Rajendra</h2>
                    <br>
                    <p>
                        Mahasiswa Fasilkom yang tertarik pada dunia bisnis berbasis teknologi guna meningkatkan sumber daya manusia. Berbagai ide bisnis telah saya buat bersama dengan teman-teman saya, dan telah kami turunkan di berbagai kompetisi.
                    </p>
                    <hr id="hiasan">
                    <br><br><br><br><br>
                    <div style="min-height: 90vh;">
                        <h2>
                            <span>Profile</span>
                        </h2>  
                        <br>
                        <div class="container">
                            <div class="row pt-4" style="padding-left: 5%;">
                                <div class="col-7">
                                    <h2 style="position:absolute;" class="pb-3">NPM</h2>
                                    <hr id="hr1" align="right">
                                    <h2 style="position:absolute;" class="pb-3">Angkatan</h2>
                                    <hr id="hr2" align="right">
                                    <h2 style="position:absolute;" class="pb-3">Hobi</h2>
                                    <hr id="hr3" align="right">
                                    <h2 style="position:absolute;" class="pb-3">Tempat Kuliah</h2>
                                    <hr id="hr4" align="right">
                                </div>
                                <div class="col-5">
                                    <h2 class="pb-3">1906299093</h2>
                                    <h2 class="pb-3">Maung</h2>
                                    <h2 class="pb-3">PPW</h2>
                                    <h2 class="pb-3">Pacil</h2>
                                </div>
                            </div>
                        </div> 
                        
                        <br>
                        <br>
                        <h2>
                            <span>Riwayat Pendidikan</span>
                        </h2>  
                        <div class="container">
                            <ul style="padding-top: 30px; font-size:32px; padding-left: 7%;">
                                <li>Marsudirini Bogor <span>(2013-2016)</span></li>
                                <li>SMAN 1 Depok <span>(2016-2019)</span></li>
                                <li>Universitas Indonesia <span>(2019-2023)</span></>
                            </ul>  
                        </div>
                        
                    </div>
                </div>

            </div>
            <div class="col-3 pt-5" >
                <br>
                <br>
                <br>
                <br>
                <img class="ml-auto" id="fotoku" src="{% static 'ramastory1.png' %}">
                <div class="float-right">
                    <p>
                        <a href="https://www.instagram.com/rajendra.rama/">
                            <img id="instagram" src="{% static 'instagram1.png' %}">
                        </a>
                    </p>
                    <p>
                        <a href="https://web.facebook.com/rajendradaniel.saksono">
                            <img id="instagram" src="{% static 'facebook1.png' %}">
                        </a>
                    </p> 
                    <p>
                        <a href="https://www.linkedin.com/in/rajendra-daniel-saksono-9a06841b1/">
                            <img id="instagram" src="{% static 'linkedin1.png' %}">
                        </a>
                    </p> 
                </div> 
            
            </div>
        </div>
        
    </div>
    

    
</body>
</html>
