h2{
    color: white;
}
h2 span{
    padding: 10px;
    color: black;
    background-color: #FDE22F;
    border-radius: 23px;
}

h3 {
    color: white;
}

#judul {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15vw;
    color: white;
}

p{
    color: white;
    font-size: 25px;
    text-align: justify;
}

#fotoku {
    width: auto;
    height: auto;
    background: linear-gradient(176.56deg, rgba(0, 0, 0, 0) 45.83%, #000000 90.51%), url(ramastory1.png);
}

html{
    overflow-x: hidden;
}

#hiasan {
    border: 2px solid #FDE22F;
    width: 100%;
}
#hr1 {
    margin-left: 20%;
    border: 2px solid #FDE22F;
    width: 70%;
    display:inline-block;
}

#hr2 {
    margin-left:35%;
    border: 2px solid #FDE22F;
    width: 55%;
    display:inline-block;
}

#hr3 {
    margin-left:20%;
    border: 2px solid #FDE22F;
    width: 70%;
    display:inline-block;
}

#hr4 {
    margin-left:50%;
    border: 2px solid #FDE22F;
    width: 40%;
    display:inline-block;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color:#FDE22F;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

ul li {
    color: white;
}

ul li span {
    color: rgba(255, 255, 255, 0.5);
}

#instagram {
    bottom: 100px;
    right: 0;
    width:50px;
    height:50px;
}
