/* bagian index */
.login,
.image {
  min-height: 90.4vh;

}

.bg-image {
  background-image: url('/static/rama.png');
  padding-top: 10% ;
  background-size: cover;
  background-position: 50% 30%;
}
.bg-kontur {
  background-image: url('/static/kontur.png');
  background-size: cover;
  background-position: right;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 7vw;
    color: #8F8F8F;
}

.btn {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #ffff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #ffff;
  text-decoration: none;
}

/* Button Styling */
#buttonatas {
  font-size: 5vh;
  border-radius: 1rem;
  color: #fff;
  background-color: #D75E31;
  border-color: #D75E31;
}
  
#buttonatas:hover {
  color: #fff;
  background-color: #D75E31;
  border-color: #D75E31;
}
  
#buttontengah {
  font-size: 5vh;
  border-radius: 1rem;
  color: #fff;
  background-color: #F97544;
  border-color: #F97544;
}
  
#buttontengah:hover {
  color: #fff;
  background-color: #F97544;
  border-color: #F97544;
}

#buttonbawah {
  font-size: 5vh;
  border-radius: 1rem;
  color: #fff;
  background-color: #FFA358;
  border-color: #FFA358;
}
  
#buttonbawah:hover {
  color: #fff;
  background-color: #FFA358;
  border-color: #FFA358;
}





/* bagian profile */
/* heading */
#sekilas {
  font-size: 10vw;
  color: white;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* CV button download */
/* Override Bootstrap */
#cv {
  color: white;
  background-color:  #8F8F8F;
  border: 6px solid #dee2e6;
  border-top: 6px solid #dee2e6;
  border-right: 6px solid #dee2e6;
  border-bottom: 6px solid #dee2e6 ;
  border-left: 6px solid #dee2e6 ;
  border-color: #EAEAEA;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3vw;
  border-radius: 60rem;
  padding-top: 10px ;
  padding-bottom: 10px;
}
  
#cv:hover {
  color: #8F8F8F;
  background-color: white;
  border-color:transparent;
  border-radius: 60rem;
  padding-top: 10px ;
  padding-bottom: 10px;
}
  
#cv:focus, #cv.focus {
  color: #8F8F8F;
  background-color: white;
  border: 10px solid transparent;
  border-color: #A3A3A3;
  box-shadow: 0 0 0 0.2rem  #A3A3A3;
  border-radius: 60rem;
  padding-top: 10px ;
  padding-bottom: 10px;
}
#clickhere {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.5vw;
  margin-top: 5px;
  color: #dee2e6;
}

/* Home button */
/* Override Bootstrap */
.icon {
  color: #9C6D59;
  fill: #9C6D59;
  background-color: #fff;
  border: 6px solid #dee2e6;
  border-top: 6px solid #dee2e6;
  border-right: 6px solid #dee2e6;
  border-bottom: 6px solid #dee2e6 ;
  border-left: 6px solid #dee2e6 ;
  border-color: #9C6D59;
  font-family: 'Montserrat', sans-serif;
  color: brown;
  border-radius: 60rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px ;
  padding-bottom: 20px;
}

#home:hover, .icon:hover {
  color: white;
  fill: white;
  background-color: #9C6D59;
  border-color:transparent;
  border-radius: 60rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px ;
  padding-bottom: 20px;
}
  
#home:focus, #cv.focus {
  background-color: #9C6D59;
  border: 10px solid transparent;
  border-color: #9C6D59;
  box-shadow: 0 0 0 0.2rem white;
  border-radius: 60rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px ;
  padding-bottom: 20px;
}

/* Media sosial icon */
.medsos{
  width: 30px;
  margin-right:5px;
}

/* bagian portofolio */
#karya{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 9vw;
  color: #8F8F8F;
}

.hasilkarya {
  width: 100%;
  margin-bottom: 50px;
}

#namaitem {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2rem;
    font-weight: 505;
    line-height: 1.5;
    fill: white;
    text-align: left;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  background-color:#8F8F8F;
  
}

/* bagian html tambahan */
/* Gallery */
.wrap {
  overflow: hidden;
  margin: 10px;
}
.box {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}
.boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}
.boxInner img {
  width: 100%;
}
.boxInner .titleBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -50px;
  background: #fff;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
section.no-touch .boxInner:hover .titleBox, section.touch .boxInner.touchFocus .titleBox {
  margin-bottom: 0;
}
@media only screen and (max-width : 480px) {
  /* Smartphone view: 1 tile */
  .box {
    width: 100%;
    padding-bottom: 100%;
    
  }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
  /* Tablet view: 2 tiles */
  .box {
    width: 50%;
    padding-bottom: 50%;
  }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
  /* Small desktop / ipad view: 3 tiles */
  .box {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
  /* Medium desktop: 4 tiles */
  .box {
    width: 25%;
    padding-bottom: 25%;
  }
}

.bg-gallery {
  background-image: url('/static/bg2.png');
  background-size: cover;
}
.bg-kontur2 {
  background-image: url('/static/kontur2.png');
  background-size: cover;
}


#video {
  padding: 20%;
}
.wrapper {
  max-width: 50%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
.video-wrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 30px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-title {
  padding: 22% 0;
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.animasi-card {
  transition: box-shadow .2s;
  border-radius:10px;
  background: #fff;
  
}
.animasi-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.comingsoon {
  text-align: center;
  font-size: 15vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
